/* You can add global styles to this file, and also import other style files */
#container{
    margin: auto;
    width: 300px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
}
h1{
    color: #369;

}
h2{
    color: #369;

}
ul{
    list-style: none;
margin: 0px;
padding: 0px;
}
li{
   border-bottom: dotted ;

}
img{
    width: 100%;
    margin: auto;
}